// Define variables for your color scheme

// For example:
$red: #e83a59;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$gray-6:    #f2f2f2;

$primary: #E71658;
$secondary: #4B154A;
$primary: #E71658;
$primary-lightest: #fff4fa;
$white-smoke: #F6F6F6;


.bg-white-smoke {
  background-color: $white-smoke !important;
}

.bg-gray-6 {
  background-color: $gray-6 !important;
}


.text-primary {
  color: $primary !important;
}

$purple: #4c154a;

