// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

// Define fonts for body and headers
$body-font: "Nunito Sans", "Helvetica", "sans-serif";
$headers-font: "Poppins", "Helvetica", "sans-serif";




@font-face {
font-family: "icomoon";
src: url(font-path("icomoon.eot") + "?im1wxq") format("embedded-opentype"),
url(font-path("icomoon.woff")) format("woff"),
url(font-path("icomoon.ttf")) format("truetype"),
url(font-path("icomoon.svg") + "#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
font-family: "lg";
src: url(font-path("lg.woff")) format("woff"),
url(font-path("lg.ttf")) format("truetype"),
url(font-path("lg.svg") + "#lg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
