<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Maison / Villa</h2>
      <p>2 pièces | 1 chambre | 60m2</p>
      <p> Kinshasa</p>
    </div>
    <h2 class="card-trip-pricing">1000 FCFA</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
