.blog {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
.recap {
  margin-top: -85px;
  background: white;
  width:  65%;
}
img.card-img-top-blog {
  height: 149px;
}

.card-contact {
  overflow: hidden;
  height: 120px;
  background: #f8fbfb;
  display: flex;
  align-items: center;
  position: relative;
}
img.blog-build.rounded.bg-white.p-4.box-shadow-custom.mb-5 {
  position: absolute;
  top: 20px;
  left: 30px;
}

.card-contact-infos {
  position: absolute;
  left: 170px;
  // font-weight: bold;

}
.card-contact .card-contact-infos {
  padding: 16px;
}

.background-color-white {
  background-color: white;
}


.cards-flat {
  transition: box-shadow 0.5s ease-in-out, border 0.5s ease-in-out, color 0.5s ease-in-out;

}

.thumbnail {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
      &:before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $secondary;
      opacity: 0;
      transition: background-color 0.5s ease-in-out;
  }
}

.z-index-2000 {
  z-index: 2000;
}

.z-index-999 {
  z-index: 999;
}


.cards-flat:hover {
    // border: 1px solid $primary;
    box-shadow: 0px 16px 17px -7px rgba(0, 0, 88, 0.3);

    .title, .price{
      color: $primary !important;
    }
    .thumbnail{
    transform: scale(1.1);
        &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $secondary;
    opacity: 0;
    transition: background-color 0.5s ease-in-out;
}
}
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    bottom: 5px;
    left: 228px;
}

.font-16px {
    font-size: 18px;
}

.font-14px {
    font-size: 14px;
}

.pink-color {
    color: #EF5F8C;
}

.pink-color-bold {
    color: #EF5F8C;
    font-weight: bold;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}
