.city-card {
  height: 200px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.city-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.city-thumb{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    &:before {
    content: "";
    display: block;
    height: 100%;
    width: calc(100% - 33px);
    position: absolute;
    bottom: 15px;
    left: 17px;
    background: black;
    background: linear-gradient(360deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%);
    border-radius: 15px;
  }
}

span.city-text {
          position: absolute;
          left: 35px;
          bottom: 30px;
          z-index:2000;
        }



