.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $white-smoke;
  color: $primary;
  border: 1px solid $primary;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $primary;
  color: white;
}

.equipment{
  &::before {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -2px;
    color: $secondary !important;
    font-size: $font-size-lg;
  }
}

.air-conditioning{
  &::before {
    content: "\e900";
    font-family: 'icomoon' !important;
  }
}


.air-alert{
  &::before {
    content: "\e901";
    font-family: 'icomoon' !important;
  }
}


.business-center{
  &::before {
    content: "\e902";
    font-family: 'icomoon' !important;
  }
}


.calendar{
  &::before {
    content: "\e903";
    font-family: 'icomoon' !important;
  }
}




.degree{
  &::before {
    content: "\e905";
    font-family: 'icomoon' !important;
  }
}


.dishwashers{
  &::before {
    content: "\e906";
    font-family: 'icomoon' !important;
  }
}


.dryer{
  &::before {
    content: "\e907";
    font-family: 'icomoon' !important;
  }
}


.filter{
  &::before {
    content: "\e908";
    font-family: 'icomoon' !important;
  }
}


.freezer{
  &::before {
    content: "\e909";
    font-family: 'icomoon' !important;
  }
}


.hair-dryer{
  &::before {
    content: "\e90a";
    font-family: 'icomoon' !important;
  }
}



.iron{
  &::before {
    content: "\e90c";
    font-family: 'icomoon' !important;
  }
}


.key{
  &::before {
    content: "\e90d";
    font-family: 'icomoon' !important;
  }
}


.laundry{
  &::before {
    content: "\e90e";
    font-family: 'icomoon' !important;
  }
}


.microwave{
  &::before {
    content: "\e910";
    font-family: 'icomoon' !important;
  }
}


.parking{
  &::before {
    content: "\e911";
    font-family: 'icomoon' !important;
  }
}


.pets{
  &::before {
    content: "\e912";
    font-family: 'icomoon' !important;
  }
}


.refrigerator{
  &::before {
    content: "\e914";
    font-family: 'icomoon' !important;
  }
}


.shower{
  &::before {
    content: "\e915";
    font-family: 'icomoon' !important;
  }
}


.soundproof{
  &::before {
    content: "\e916";
    font-family: 'icomoon' !important;
  }
}

.swiming-pool{
  &::before {
    content: "\e918";
    font-family: 'icomoon' !important;
  }
}


.terrace{
  &::before {
    content: "\e919";
    font-family: 'icomoon' !important;
  }
}

.user{
  &::before {
    content: "\e91a";
    font-family: 'icomoon' !important;
  }
}


.washing-machine{
  &::before {
    content: "\e91b";
    font-family: 'icomoon' !important;
  }
}

.weekly-cleaning{
  &::before {
    content: "\e91c";
    font-family: 'icomoon' !important;
  }
}

.wifi{
  &::before {
    content: "\e91d";
    font-family: 'icomoon' !important;
  }
}
