.experience-container {
margin-left: 40px;
margin-right: 40px;
}

.process {
  padding: 30px;
}

i.fas.picto {
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
}
.picto  {
  color: $primary;
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 10px;
  background-color: white;
  padding: 9px;
}

.experience h5 {
  font-weight: bold;
}
