
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-air-conditioning:before {
  content: "\e900";
}

.icon-alert:before {
  content: "\e901";
}
.icon-business-center:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}

.icon-close:before {
  content: "\e904";
}

.icon-degree:before {
  content: "\e905";
}

.icon-dishwashers-1:before {
  content: "\e906";
}

.icon-dryer:before {
  content: "\e907";
}

.icon-filter:before {
  content: "\e908";
}

.icon-freezer:before {
  content: "\e909";
}

.icon-hair-dryer:before {
  content: "\e90a";
}

.icon-heart:before {
  content: "\e90b";
}

.icon-iron:before {
  content: "\e90c";
}

.icon-key:before {
  content: "\e90d";
}

.icon-laundry:before {
  content: "\e90e";

}

.icon-mdi_search:before {
  content: "\e90f";
}

.icon-microwave:before {
  content: "\e910";

}

.icon-parking:before {
  content: "\e911";
}

.icon-pets:before {
  content: "\e912";
}

.icon-pin:before {
  content: "\e913";
}

.icon-refrigerator-1:before {
  content: "\e914";
}

.icon-shower-1:before {
  content: "\e915";
}

.icon-soundproof-rooms:before {
  content: "\e916";
}

.icon-star:before {
  content: "\e917";
}

.icon-swimin-pool:before {
  content: "\e918";
}

.icon-terrace:before {
  content: "\e919";
}

.icon-user:before {
  content: "\e91a";
}

.icon-washing-machine:before {
  content: "\e91b";
}

.icon-weekly-cleaning:before {
  content: "\e91c";
}

.icon-wifi:before {
  content: "\e91d";
}
