.vh-75 {
  height:75vh !important;
}

.min-height-115 {
  min-height:115px !important;
}

.size-16 {
  font-size: 16px;
}
.w-60 {
    width: 60% !important;
}

.rounded-xl {
  border-radius: 2rem !important;
}
